* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}
body {
background-color: #263238;

}
.wrapper {
  width: 90%;
  max-width: 25em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 2em;
  border-radius: 0.8em;
}
.app-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app-icon {
  width: 8em;
}
.app-title {
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
label {
  display: block;
  font-weight: 600;
}
input#amount {
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  width: 100%;
  border-bottom: 2px solid #02002c;
  color: #7a789d;
  margin-bottom: 2em;
  padding: 0.5em;
}
input#amount:focus {
background: linear-gradient(135deg, #fff1eb, #ace0f9);
  border-color: #0b0b0b;
}
.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
select {
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.2em;
  appearance: none;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  background-image: url("arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 50%, center;
  background-size: 20px 20px;
  background: linear-gradient(120deg, #c471ed, #f64f59);
  color: #ffffff;
}
select option {
  background-color: #ffffff;
  color: #02002c;
}
button {
  font-size: 1em;
  width: 100%;
  /* background-color: #9873fe; */
  background: linear-gradient(120deg, #c471ed, #f64f59);
  padding: 1em 0;
  margin-top: 2em;
  border-radius: 0.3em;
  color: #ffffff;
  font-weight: 600;
}
#convert-button{
background: linear-gradient(120deg, #bdc3c7, #2c3e50);
}

#result {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  /* color: #02002c;
  background-color: #e5dbff; */

  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  padding: 0.8em 0;
}

.wrapper{
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);

}
#to-currency-select{
  background: linear-gradient(120deg, #ff9a9e, #fecfef);
  color: #02002c;
}
