body {
    font-family: Arial, sans-serif;
background: linear-gradient(135deg, #9333ea, #ec4899);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    color: #555;
  }
  
  .quote-box {
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid #007bff;
    font-style:normal;
    background: #f9f9f9;
    border-radius: 5px;
  }

  button{
    background-color: #007bff;
    border-radius: 5px;
    padding : 5px;
    color: white;
  }

  